<div class="navigation">
        <div class="menuToggle"></div>
        <ul>
            <li class="list active" style="--clr:#f44336;" id="_1">
                <a href="/main/pg1" id="HomePage">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="text">Home</span>
                </a>
            </li>
            <li class="list" style="--clr:#ffa117;" id="_2">
                <a href="/main/pg2" id="DATA">
                    <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                    <span class="text">已預約資訊</span>
                </a>
            </li>
            <li class="list" style="--clr:#0fc70f;" id="_3">
                <a href="/main/pg3" id="GoR">
                    <span class="icon"><ion-icon name="create-outline"></ion-icon></ion-icon></span>
                    <span class="text">前往預約！</span>
                </a>
            </li>
            <li class="list" style="--clr:#2196f3;" id="_4">
                <a href="/main/pg4" id="DeleteR">
                    <span class="icon"><ion-icon name="build-outline"></ion-icon></span>
                    <span class="text">修改預約！</span>
                </a>
            </li>
            <li class="list" style="--clr:#b145e9;" id="_5">
                <a href="/main/pg5" id="Logout">
                    <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                    <span class="text">Setting</span>
                </a>
            </li>
        </ul>
    </div>