{% extends "member/base.html" %}
{% load static %}
{% block title %} 圖書館空間預約系統 {% endblock %}
{% block content %}
    <script> 
        $(".list").removeClass("active");
        $("#_5").addClass("active");
        function submit (action) {
            var psw = $("#old_psw").val();
            if (psw != "") {
                var url = "/main/pg5";
                url += "/" + action + "/" + psw;
                window.location = url;
            }
        }
    </script>
    {% if message and is_modify == False %}
        <h3 id="Alert"> {{ message }}</h3>
    {% elif message and is_modify %}
        <h3 id="Success"> {{ message }}</h3>
    {% endif %}
    <div class="content show" id="pg5">
        <!-- <p>看要改密碼還是刪除帳號還是登出都可以！</p> -->
        <form action="." method="GET" id="del_form">
            {% csrf_token %}
            <h4>更改密碼 / 刪除帳號 / 登出</h4>
            <label for="old_psw">Old Password: * </label>
            <input type="password" id="old_psw" name="old_psw" required>
            <label for="nw_password">New Password:</label>
            <input type="password" id="nw_password" name="nw_password">
            <label for="cf_password">Confirm Password:</label>
            <input type="password" id="cf_password" name="cf_password">
            <button type="submit" name="change" >Change Password</button>
            <span onclick="submit('delete'); " id="delete_acc" style="cursor: pointer; margin-top: 100px; position: absolute; width: 100%; transform: translate(-58%, 130%)">Delete Account</span>
            <!-- <button id="bye">登出！</button> -->
            <a href="/main/logout" id="bye" style="cursor: pointer; margin-top: 100px;">登出！</a>
        </form>
    </div>
{% endblock %}