form {
    height: 660px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    z-index: -1;
}

#warning {
    /* display: none; */
    font-family: "Poppins", sans-serif;
    width: 40%;
    transform: translateX(75%);
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

#success {
    /* display: none; */
    font-family: "Poppins", sans-serif;
    width: 40%;
    transform: translateX(75%);
    background-color: #00ff00;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

#Login {
    height: 550px;
}

#Register {
    height: 650px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 27px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

form a {
    margin-top: 30px;
    width: 100%;
    /* background-color: #000; */
    color: #ffffff;
    /* padding: 15px 0; */
    font-size: 18px;
    position: absolute;
    /* transform: translateX(30%); */
    /* jusi */
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.social {
    margin-top: 30px;
    display: flex;
}

.social div {
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    text-align: center;
}

.social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

.social .fb {
    margin-left: 25px;
}

.social i {
    margin-right: 4px;
}

#date {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Comic Sans MS', sans-serif;
}

select {
    width: 50%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Comic Sans MS', sans-serif;
}

select option {
    background-color: rgba(255, 255, 255, 0.07);
    color: #ffffff;

}

#del_form {
    margin-top: 27px;
    height: 700px;
}

#people {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: 'Comic Sans MS', sans-serif;
}

.Query {
    font-family: 'Comic Sans MS', sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    height: 250px;
    transform: translate(300px, -350px);
}

form #res_date {
    /* display: flex; */
    /* justify-content: space-between; */
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

form #reservation_date {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

form #modify {
    width: 180px;
    transform: translate(176px, -104px);
}

form #reservation_date::placeholder {
    color: #e5e5e5;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

span#acc {
    margin-top: 50px;
    width: 100%;
    /* background-color: #000; */
    color: #ffffff;
    /* padding: 15px 0; */
    font-size: 18px;
    position: absolute;
    display: flex;
    /* transform: translateX(30%); */
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

#id_Date {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
}

.content form p input#id_Date {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 300;
}